@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  src: url("../src/fonts/gilroy-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  src: url("../src/fonts/gilroy-bold.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  src: url("../src/fonts/gilroy-semibold.woff2") format("woff2");
}

* {
  font-family: "Gilroy";
}
