@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  src: url("../src/fonts/gilroy-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  src: url("../src/fonts/gilroy-bold.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  src: url("../src/fonts/gilroy-semibold.woff2") format("woff2");
}

h1 {
  @apply font-bold text-2xl;
}

:focus {
  outline: none;
}

input::placeholder {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

input:focus::placeholder {
  opacity: 0;
}

body {
  margin: 0;
  font-family: "Gilroy";
  color: #40434a;
  background: #fafafb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.active-header {
  @apply bg-gray_blue;
}

.active-header span {
  @apply text-gray_dark font-semibold;
}

.nav-active {
  @apply text-blue;
}

.nav-active::before {
  opacity: 1;
}

nav > div > div > a::before {
  content: "";
  position: absolute;
  bottom: 0;
  @apply bg-blue;
  height: 2px;
  border-radius: 1.5px 1.5px 0px 0px;
  width: 100%;
  opacity: 0;
}

.licon1 {
  background: rgba(255, 255, 255, 0.78);
  box-shadow: 0px 4px 44px -5px rgba(39, 48, 62, 0.1);
  backdrop-filter: blur(44.37px);
  padding: 0.75em;

  border-radius: 20px;
  height: 390px;
  width: 233px;
  transform-origin: bottom left;
  transform: translate(100%, -50%) rotate(-17.01deg);
}

.licon2 {
  background: linear-gradient(270deg, #4589eb 0%, #5a9cfb 100%);
  box-shadow: 0px 4px 27px rgba(81, 141, 223, 0.43);
  border-radius: 20px;

  height: 233px;
  width: 390px;
  transform-origin: top left;
  transform: translate(100%, -87.5%) rotate(55.37deg);
}

.licon3 {
  background: rgba(237, 237, 237, 0.78);
  border-radius: 20px;
  transform: rotate(-52.24deg);
  height: 390px;
  width: 233px;
  transform-origin: bottom left;
  transform: translate(105%, 0%) rotate(-52.24deg);
}

.ricon1 {
  padding: 1.5em;
  height: 352px;
  width: 234px;
  background: rgba(255, 255, 255, 0.78);
  box-shadow: 0px 4px 44px -5px rgba(39, 48, 62, 0.1);
  backdrop-filter: blur(44.37px);
  border-radius: 20px;
  top: 50%;
  transform: translate(-75%, -50%);
}

.ricon2 {
  background: linear-gradient(270deg, #4589eb 0%, #5a9cfb 100%);
  box-shadow: 0px 4px 27px rgba(81, 141, 223, 0.43);
  border-radius: 20px;
  width: 338px;
  height: 278px;
  top: 0;
  transform: translate(-45%, -65%);
}

.ricon3 {
  background: rgba(237, 237, 237, 0.78);
  border-radius: 20px;
  width: 256px;
  height: 390px;
  bottom: 0;
  transform: translate(-50%, 85%);
}
