#nprogress .bar {
  background-color: #fe5f55 !important;
}

*:focus {
  outline: none;
}

::selection {
  background-color: #fe5f55;
  color: #fff;
}

*::-webkit-scrollbar {
  width: 1em;
}

*::-webkit-scrollbar-thumb {
  background-color: #fe5f55;
  border-radius: 3px;
}

.z--1 {
  z-index: -1;
}

.svg-box svg,
.svg-box svg path {
  height: 100%;
}

@keyframes cursor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.typewriter-cursor {
  height: 100%;
  right: 0;
  color: transparent;
  position: relative;
  animation: cursor 1.2s cubic-bezier(0, 0.55, 0.45, 1) infinite;
}

.typewriter-cursor::before {
  content: "";
  height: 100%;
  width: 3px;
  border-radius: 2px;
  right: 0;
  @apply bg-black_coffee_light;
  position: absolute;
  top: 0;
}

input[type="text"] {
  background: rgba(0, 0, 0, 0);
}

input[type="text"] + span {
  top: 50%;
  font-size: 1.125rem;
  transform: translateY(-50%);
}

input[type="text"]:focus + span,
input[type="text"]:not(:placeholder-shown) + span {
  top: 0.5rem;
  transform: none;
  font-size: 1rem;
}
